{
  "root": true,
  "extends": "airbnb-base",
  "plugins": ["import", "chai-friendly"],
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module"
  },
  "env": {
    "node": true,
    "es6": true
  },
  "parser": "babel-eslint",
  "rules": {
    "max-len": [2, 100, 2],
    "indent": [2, 2],
    "one-var": 0,
    "one-var-declaration-per-line": 0,
    "new-cap": 0,
    "object-curly-spacing": 0,
    "consistent-return": 0,
    "no-param-reassign": 0,
    "comma-dangle": 0,
    "no-shadow": [1, { "allow": ["req", "res", "err"] }],
    "no-unused-vars": 0,
    "no-unused-expressions": 0,
    "chai-friendly/no-unused-expressions": 2,
    "curly": [1, "multi-line"],
    "linebreak-style": 0,
    "no-undef": 0,
    "import/no-unresolved": 0,
    "prefer-promise-reject-errors": 0,
    "valid-jsdoc": [
      1,
      {
        "requireReturn": true,
        "requireReturnType": true,
        "requireParamDescription": false,
        "requireReturnDescription": true
      }
    ],
    "require-jsdoc": [
      1,
      {
        "require": {
          "FunctionDeclaration": true,
          "MethodDefinition": false,
          "ClassDeclaration": true
        }
      }
    ],
    "prefer-destructuring": [
      "error",
      {
        "VariableDeclarator": {
          "array": false,
          "object": false
        }
      }
    ]
  }
}
